<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.autotest.core.mapper.ITestStep">
    <delete id="delete" parameterType="int">
        delete from test_step where case_id=#{caseId}
    </delete>

    <update id="update" parameterType="TestStep">
        update test_step
        set case_id = #{case_id},
        step_name = #{step_name},
        action_type = #{action_type}
        where id=#{id}
    </update>

    <insert id="insert" parameterType="TestStep" useGeneratedKeys="true"  keyProperty="id" keyColumn="id">
        insert into test_step(case_id,step_name,action_type,dataChange_CreateTime,dataChange_LastTime)
        values(#{case_id},#{step_name},#{action_type},now(),now());
    </insert>

    <select id="select" parameterType="int" resultType="TestStep">
        SELECT * FROM test_step WHERE id=#{id}
    </select>

    <select id="selectList" parameterType="Map" resultType="TestStep">
        SELECT * FROM test_step WHERE case_id=#{caseId} ORDER BY id;
    </select>
</mapper>