<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.autotest.core.dao.ITestLog">
   <insert id="insert" parameterType="TestLog" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
      insert into test_log(result_id,case_id,step_id,runParams,logContent,remark,dataChange_CreateTime,dataChange_LastTime)
      values(#{result_id},#{case_id},#{step_id},#{runParams},#{logContent},#{remark},now(),now())
   </insert>
   <select id="list" parameterType="Map" resultType="TestLog">
      select * from test_log
      <where>
         <if test="resultId!=null and resultId>0">
            result_id=#{resultId}
         </if>
      </where>
   </select>

   <update id="update" parameterType="TestLog">
      update TestLog
      set result_id=#{result_id},
      case_id = #{case_id},
      step_id = #{step_id},
      runParams = #{runParams},
      logContent = #{logContent},
      remark = #{remark}
      where id=#{id}
   </update>
</mapper>